storage: /verdaccio/storage

plugins: ./plugins

store:
  aws-s3-storage:
    bucket: S3_BUCKET

web:
  title: Verdaccio
  
auth:
  htpasswd:
    file: /verdaccio/conf/.htpasswd

uplinks:
  npmjs:
    url: https://registry.npmjs.org/

packages:
  '@*/*':
    access: $authenticated
    publish: $authenticated
    unpublish: $authenticated
    proxy: npmjs

  '**':
    access: $authenticated
    publish: $authenticated
    unpublish: $authenticated
    proxy: npmjs
server:
  keepAliveTimeout: 60

middlewares:
  audit:
    enabled: true

logs:
  - { type: stdout, format: pretty, level: http }

listen:
  - 0.0.0.0:4873
